{% extends 'main.html' %}

{% load static %}

{% block content %}

<style>
    .main-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<main>
    <div class="main-container home">
        <div class="topics"> 
            <h3>Search Topics</h3>

            <div>
                <a href="{% url 'home' %}">All</a>
             </div>
            
            {% for topic in topics %}
            <div>
               <a href="{% url 'home' %}?search={{topic.name}}">{{ topic.name }}</a>
            </div>
            {% endfor %}
        </div>

        <div>
            <h1>Página Inicial</h1>
            <h5>{{ articles_count }} articles posted</h5>

            <form action="{% url 'home' %}" method="GET">
                <br>
                <input class="search" type="text" name="search" placeholder="Search Article..." >
            </form>

            <div>
                {% for article in articles %}
                    <div class="article-box">
                        <p class="title"><a href="{% url 'article' article.id %}">{{ article.title }}</a></p>
                        <p class="resume">{{ article.resume }}</p>

                        <p>Posted by <a href="{% url 'profile' article.author.id %}"> @{{ article.author.username }}</a> - <time> {{ article.updated_at }} </time></p>
                    </div>
                    <!-- <hr> -->
                {% endfor %}
            </div>
        </div>
        
    </div>
</main>


{% endblock content %}